<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="C:\Users\DanielMcPherson\Documents\ShareX\Screenshots\2016-06"/>
    <add key="Site" value="https://rapidcircle1com.sharepoint.com/sites/Rapid/DemoProject"/>
    <add key="Username" value="daniel.mcpherson@rapidcircle.com"/>
    <add key="MaxImages" value="16"/>
    <add key="DeleteOnUpload" value ="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>